<dialog class="mdl-dialog">
    <form action="{% url 'task:create_task' filter=filter %}" method="post">
        {% csrf_token %}
      <div class="mdl-dialog__content">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" maxlength="25" id="name" name="name">
            <label class="mdl-textfield__label" for="name">Name</label>
          </div>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows="3" maxrows="6"
             id="description" maxlength="200" name="description"></textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent close" >Cancel</button>
        <button  type="submit"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create</button>
      </div>
  </form>
</dialog>
<script>
  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });

</script>
