{% for task in tasks %}
<div class="mdl-cell mdl-card mdl-shadow--6dp">
    <div  class="mdl-card__title mdl-color--indigo-300">
        <h2 class="mdl-card__title-text">{{ task.name }}</h2>
        <div class="mdl-layout-spacer"></div>
        <div>
            <div class="mdl-color-text--blue-grey-50 created-finished">created: {{ task.created }}</div>
            {% if task.done %}
            <div class="mdl-color-text--blue-grey-50 created-finished">finished: {{ task.finished }}</div>
            {% endif %}
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="{{ task.pk }}">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="{{ task.pk }}">
          <a href="{% url 'task:edit_task' pk=task.pk filter=filter  %}" class="link-button">
              <li class="mdl-menu__item" id="edit{{ task.pk }}">Edit</li>
          </a>
          <a href="{% url 'task:remove_task' pk=task.pk filter=filter %}" class="link-button">
              <li class="mdl-menu__item">Remove</li>
          </a>
        </ul>
    </div>
    <div class="mdl-card__supporting-text">
        {{ task.description }}
    </div>
    <div style="margin-top: auto;" class="mdl-card__actions mdl-card--border">
        <div class="card-action-container">
            <div>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ task.pk }}">
                    {% if task.done %}
                    <input onclick="is_done(this);" type="checkbox" id="checkbox-{{ task.pk }}" class="mdl-checkbox__input" checked>
                    {% else %}
                    <input onclick="is_done(this);" type="checkbox" id="checkbox-{{ task.pk }}" class="mdl-checkbox__input" >
                    {% endif %}
                  <span class="mdl-checkbox__label">Done</span>
                </label>
            </div>

            <div class="timer" id="timer-{{ task.pk }}"><span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span></div>
            <div id="button-timer-{{ task.pk }}">
                {% if task.done %}
                <button  onClick="timing(this);" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored" disabled>
                  <i class="material-icons">play_arrow</i>
                </button>
                {% else %}
                <button  onClick="timing(this);" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored">
                  <i class="material-icons">play_arrow</i>
                </button>
                {% endif %}
            </div>


        </div>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
{% for task in tasks %}
    generate_time({{ task.timer.total_seconds }}, {{ task.pk }});
{% endfor %}
</script>
