{% extends 'base.html' %}
{% block content %}

    {% include "search/tasks.html" %}

{% endblock %}


{% block dialog %}
    <dialog id="edit_dialog" class="mdl-dialog" style="z-index: 3;">
        <form action="{% url 'task:edit_search' pk=task.pk query=query %}" method="post">
            {% csrf_token %}
          <div class="mdl-dialog__content">
              <div class="mdl-textfield mdl-js-textfield">
                <input maxlength="25" class="mdl-textfield__input" type="text" id="name" name="name" value="{{ task.name }}">
                <label class="mdl-textfield__label" for="name">Name</label>
              </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="3" maxrows="6"
                 id="description" maxlength="200" name="description">{{ task.description }}</textarea>
                <label class="mdl-textfield__label" for="description">Description</label>
          </div>
          <div class="align-dialog-buttons mdl-dialog__actions ">

            <button type="button" class="cancel-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent close">Cancel</button>
            <button type="submit"  class="save-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save</button>
          </div>
      </form>
    </dialog>

    <script>
      var dialog = document.querySelector('#edit_dialog');
      var showModalButton = document.querySelector('.show-modal');
      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }

      dialog.showModal();
      dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
      });
    </script>
{% endblock %}
